<!DOCTYPE html>
<html>
	<head>
	</head>

	<body>
		<!-- <img src="uploads/fileList[0]" /><br> -->
			<img src="images/<%= img_path %>" /><br>
			<!-- <img src="images/b0.png" /><br> -->
		Hello, World!
	</body>
</html>
