body {
    background-color:#fffff0;
   }
   h2{
       font-size: 26px;
   }

   .inner-div{
       background-color: #FFFFFF;
       margin-top: 34px;
       overflow-x: hidden;


   }

   .btn-grass {
       color: #fff;
       background-color: #8dc350;
       border-color: #80ba40;
       width: 246px;

   }
   .btn-lg {
       padding: 10px 16px;
       font-size: 20px;

       border-radius: 6px;
   }
   .btn {
       display: inline-block;
       margin-bottom: 0;

       text-align: center;
       vertical-align: middle;
       touch-action: manipulation;
       cursor: pointer;
   }

   .container{
       display: inline-block;
       background-color: #FFFFFF;
       margin: 5px;
       border-radius: 8px;
       width: 100%;


   }

   .mobile-image{
       margin-top: 10px;
       margin-bottom: 30px;

   }
   @media only screen and (max-width: 767px) {
    .container{
        border: 2px solid #8dc350;
    }
    .inner-div{
        background-color: transparent;
    }

    }
   @media only screen and (max-width: 992px){

    .container{

           position: relative;
           width: 100%;
       }
   .inner-div{
       background-color: transparent;
       position: relative;
       width: 100%;

   }
   h2{
       text-align: center;
   }

   }



  .fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;

}
